body {
	background-color: black;
	color: white;
}

div {
	text-align: center;
}

img {
	width: 800px;
	height: auto;
}

.bold {
	font-weight: bold;
}

button {
	width: 200px;
	height: 50px;
	margin: 16px;
}

#recipes .left-center {
	width:1000px;
	margin: auto;
	text-align:left;
}